.footer__menu-link {
  margin-right: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}

.footer__menu-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .footer__menu-link {
    padding-bottom: 24px;
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .footer__menu-link {
    font-size: 24px;
    padding-bottom: 27px;
  }

  .footer__menu-link:last-child {
    padding-bottom: 0;
  }
}