.header__lang-link {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.3s ease;
  margin-left: 18px;
}

.header__lang-link:hover {
  text-decoration: underline;
}
