.place__title {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.1;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 72px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
  }
}
