.photo-grid {
  margin: 0;
  padding: 0 0 71px;
  list-style: none;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  width: 92.5%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    padding: 0 48px 26px;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 0 24px 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    padding: 0 16px 14px;
  }
}