.places {
  background-color: #2a2c2f;
  margin: 0 auto;
  width: 72.1%;
  padding-bottom: 99px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 0 48px 99px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 0 24px 88px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding: 0 0 64px;
  }
}
