.place__image {
  object-fit: cover;
  width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
  }
}