.lead {
  max-width: 76.8vw;
  margin: 0 auto;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #2a2c2f;
}

@media screen and (max-width: 425px) {
  .lead {
    padding-bottom: 53px;
  }
}
