.header__logo {
  width: 180px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 176px;
    object-fit: cover;
  }
}

@media screen and (max-width: 142px) {
  .header__logo {
    width: 176px;
    object-fit: cover;
  }
}
