.header {
    width: 92.1%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 28px 0 48px;
    background-color: #2A2C2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 320px) {
    .header {
        padding: 16px 0 32px;
    }
}