.footer__author {
  margin: 0;
  color: #ffffff;
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .footer__author {
    margin-top: 43px;
    max-width: 230px;
    margin-left: unset;
  }
}
