.place__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  max-width: 484px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    padding: 0 16px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    max-width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    padding: 0 16px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    max-width: 288px;
  }
}