.intro {
  max-width: 76.8%;
  margin: 0 auto;
  padding-bottom: 92px;
  background-color: #2a2c2f;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-bottom: 92px;
    padding-top: 92px;
    padding-left: 148px;
    padding-right: 442px;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px 88px;
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 16px 64px;
    max-width: 100%;
  }
}