.lead__subtitle {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 64px;
  width: 50%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    font-size: 30px;
    width: 640px;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 640px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    width: 288px;
    margin-bottom: 40px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}