.cover {
  width: 92.1%;
  max-height: 720px;
  margin-bottom: 63px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  box-sizing: border-box;
}

.cover::before {
  content: "";
  background-image: url(../../images/overlay.jpg);
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cover::after {
  content: "";
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.3;
}

.cover:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
    margin-bottom: 92px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-bottom: 64px;
  }
}