.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.1;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 72px;
    max-width: 560px;
  }
}

@media screen and (max-width: 677px) {
  .cover__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    max-width: 288px;
  }
}
