.place {
  padding: 40px 0 0;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 48px 40px;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .place {
    padding: 24px 0 0;
    grid-template-columns: minmax(288px, 1fr);
    grid-gap: 32px;
  }
}