.footer {
  width: 92.1vw;
  margin: 0 auto;
  padding: 0 0 24px 0;
  background-color: #2a2c2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800x) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
