.footer {
  width: 92.1%;
  margin: 0 auto;
  padding: 0 0 24px 0;
  background-color: #2a2c2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 100%;
    padding: 0 48px 24px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 0 16px 24px;
  }
}
